html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0d0d0d;
    width: 100vw;
    height: 100 dvh;
}

.logo_box {
max-width: fit-content;
padding-block: 15rem;
margin-left: auto;
margin-right: auto;
}

#logo {
    max-width: 40vw;
    width: 40em;
    object-fit: cover;
}

.link_box {
  display: flex;
  justify-content: center;
}
  
.icon {
  font-size: 1.8rem;
  margin: 1rem;
}

/* Link Styling */
a {
  color: white;
  text-decoration: none;
  transition: 200ms;
}

a:hover {
  color: fuchsia;
}

a:active {
  color: fuchsia;
}